In [4]:
Customer

users.models.Customer

In [3]:
import os
import django
os.environ.setdefault('DJANGO_SETTINGS_MODULE', 'rest.settings')
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"
django.setup()

In [7]:
Customer.objects.filter(age=30).values('first_name')

<QuerySet [{'first_name': '영환'}, {'first_name': '보람'}, {'first_name': '은영'}, {'first_name': '상현'}, {'first_name': '정훈'}, {'first_name': '서연'}, {'first_name': '정식'}, {'first_name': '영수'}, {'first_name': '예진'}, {'first_name': '은지'}, {'first_name': '준영'}, {'first_name': '숙자'}, {'first_name': '현주'}, {'first_name': '성수'}, {'first_name': '상훈'}, {'first_name': '민재'}, {'first_name': '지아'}, {'first_name': '정순'}, {'first_name': '지원'}, {'first_name': '하은'}, '...(remaining elements truncated)...']>

In [6]:
Customer.objects.get(pk=1)
print(Customer.objects.filter(age=30).values('first_name').query)

SELECT "users_customer"."first_name" FROM "users_customer" WHERE "users_customer"."age" = 30

In [8]:
# __gte, __gt, __lte, __lt
Customer.objects.filter(age__gte=30).count()

414

In [9]:
# 미성년자의 인원수
Customer.objects.filter(age__lt=20).count()

213

In [12]:
# 30이면서 동시에 김씨인 사람 수
Customer.objects.filter(age=30, last_name='김').values('last_name', 'age').count()

6

In [13]:
# 30이상이면서 김씨인 사람
Customer.objects.filter(age__gte=30, last_name='김').values('last_name', 'age').count()

112

In [ ]:

Customer.objects.filter(age__gte=30, last_name='강').count() # => and 연산

In [15]:
# 30이상 이거나 강씨인 사람의 수
from django.db.models import Q
Customer.objects.filter(Q(age__gte=30) | Q(last_name='강')).count()

425

In [16]:
# % => 무엇이든. _ => 반드시 그 자리에.
# django orm 에서는 %만 사용 가능. 그 이상으로 패턴 비교를 하려면, 아예 정규표선식(regex)를 사용한다.
# 02-로 시작하는 전화번호 개수 (sqlite에서는 02-%)
Customer.objects.filter(phone__startswith='02-').count()

249

In [22]:
# 강원도민 중 황씨의 이름만
Customer.objects.filter(country='강원도', last_name='황').values('first_name')

In [25]:
# 나이가 가장 많은 사람 10명 => ORM이 자동으로 LIMIT, OFFSET 처리.
Customer.objects.order_by('-age')[:10].values('age','first_name')

<QuerySet [{'age': 40, 'first_name': '정호'}, {'age': 40, 'first_name': '미경'}, {'age': 40, 'first_name': '성현'}, {'age': 40, 'first_name': '상훈'}, {'age': 40, 'first_name': '민서'}, {'age': 40, 'first_name': '광수'}, {'age': 40, 'first_name': '영수'}, {'age': 40, 'first_name': '정순'}, {'age': 40, 'first_name': '윤서'}, {'age': 40, 'first_name': '시우'}]>

In [27]:
# 최빈 10명 (디폴트는 오름차순)
Customer.objects.order_by('balance')[:10].values('balance')

In [35]:
# 최빈 + 최연장자 10명
Customer.objects.order_by('balance', '-age')[:10].values('balance', 'age', 'first_name')

<QuerySet [{'balance': 150, 'age': 33, 'first_name': '진우'}, {'balance': 150, 'age': 32, 'first_name': '우진'}, {'balance': 150, 'age': 32, 'first_name': '광수'}, {'balance': 150, 'age': 28, 'first_name': '승민'}, {'balance': 150, 'age': 20, 'first_name': '민재'}, {'balance': 160, 'age': 36, 'first_name': '수민'}, {'balance': 160, 'age': 32, 'first_name': '명자'}, {'balance': 160, 'age': 25, 'first_name': '지아'}, {'balance': 160, 'age': 23, 'first_name': '순옥'}, {'balance': 170, 'age': 37, 'first_name': '현숙'}]>

In [38]:
# 최빈 + 최연장자 
Customer.objects.order_by('balance', '-age')[0].values('balance', 'age', 'first_name')

AttributeError: 'Customer' object has no attribute 'values'

In [37]:
# 성 / 이름 가나다  정렬 내림차순
Customer.objects.order_by('-last_name', '-first_name').values()

<QuerySet [{'id': 585, 'first_name': '혜진', 'last_name': '황', 'age': 24, 'country': '강원도', 'phone': '02-5896-4169', 'balance': 950}, {'id': 240, 'first_name': '현준', 'last_name': '황', 'age': 37, 'country': '충청북도', 'phone': '011-5114-9343', 'balance': 220}, {'id': 934, 'first_name': '춘자', 'last_name': '황', 'age': 28, 'country': '충청남도', 'phone': '02-9487-5755', 'balance': 6900}, {'id': 773, 'first_name': '지우', 'last_name': '황', 'age': 19, 'country': '경상남도', 'phone': '02-1124-8720', 'balance': 850000}, {'id': 912, 'first_name': '준영', 'last_name': '황', 'age': 16, 'country': '강원도', 'phone': '02-1030-5139', 'balance': 6500}, {'id': 417, 'first_name': '주원', 'last_name': '황', 'age': 37, 'country': '전라남도', 'phone': '016-9864-8415', 'balance': 390000}, {'id': 22, 'first_name': '은정', 'last_name': '황', 'age': 16, 'country': '강원도', 'phone': '016-5956-2725', 'balance': 7000}, {'id': 860, 'first_name': '은정', 'last_name': '황', 'age': 17, 'country': '전라남도', 'phone': '02-5773-7460', 'balance': 1000000}, {'id': 115, 'first_name': '은경', 'last_name': '황', 'age': 32, 'country': '충청북도', 'phone': '011-2600-7171', 'balance': 6300}, {'id': 355, 'first_name': '유진', 'last_name': '황', 'age': 26, 'country': '제주특별자치도', 'phone': '016-8933-1843', 'balance': 50000}, {'id': 71, 'first_name': '우진', 'last_name': '황', 'age': 34, 'country': '경상북도', 'phone': '011-9734-6132', 'balance': 760}, {'id': 710, 'first_name': '예진', 'last_name': '황', 'age': 25, 'country': '충청남도', 'phone': '02-8078-3022', 'balance': 580000}, {'id': 80, 'first_name': '예지', 'last_name': '황', 'age': 18, 'country': '전라남도', 'phone': '010-7374-4933', 'balance': 9400}, {'id': 865, 'first_name': '영환', 'last_name': '황', 'age': 34, 'country': '충청남도', 'phone': '010-7592-7190', 'balance': 300000}, {'id': 373, 'first_name': '상현', 'last_name': '황', 'age': 32, 'country': '전라남도', 'phone': '010-3270-2036', 'balance': 3700}, {'id': 161, 'first_name': '미경', 'last_name': '황', 'age': 17, 'country': '전라북도', 'phone': '016-1665-7441', 'balance': 3200}, {'id': 742, 'first_name': '동현', 'last_name': '황', 'age': 37, 'country': '경상북도', 'phone': '010-1800-9060', 'balance': 9100}, {'id': 521, 'first_name': '경희', 'last_name': '황', 'age': 39, 'country': '경기도', 'phone': '010-9911-4073', 'balance': 6500}, {'id': 929, 'first_name': '경숙', 'last_name': '황', 'age': 17, 'country': '경상남도', 'phone': '02-3893-9315', 'balance': 650}, {'id': 117, 'first_name': '경수', 'last_name': '황', 'age': 26, 'country': '경상남도', 'phone': '011-7902-6188', 'balance': 53000}, '...(remaining elements truncated)...']>

In [ ]:
# annotate

In [40]:
from django.db.models.functions import Concat
Customer.objects.annotate(full_name=Concat('first_name', 'last_name')).values()[4]

{'id': 5,
 'first_name': '영환',
 'last_name': '차',
 'age': 30,
 'country': '충청북도',
 'phone': '011-2921-4284',
 'balance': 220,
 'full_name': '영환차'}

In [41]:
Customer.objects.annotate(Count('country')).values()[1]

{'id': 2,
 'first_name': '경희',
 'last_name': '이',
 'age': 36,
 'country': '경상남도',
 'phone': '011-9854-5133',
 'balance': 5900,
 'country__count': 1}

In [42]:
a = Article.objects.first()

NameError: name 'Article' is not defined